<!DOCTYPE html>
<html>
<head>
    <title>Assignments</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Assignments</h1>
        <form method="POST" action="{{ url_for('create_assignments', course_id=course_id) }}">
            <div class="assignment-columns">
                {% for assignment in assignments %}
                <div class="assignment">
                    <h2>Assignment {{ loop.index }}</h2>
                    <div class="field">
                        <label for="name_{{ loop.index0 }}">Name:</label>
                        <span>{{ assignment.Name }}</span>
                    </div>
                    <div class="field">
                        <label for="type_{{ loop.index0 }}">Type:</label>
                        <span>{{ assignment.Type }}</span>
                    </div>
                    <div class="field">
                        <label for="date_{{ loop.index0 }}">Date:</label>
                        <span>{{ assignment.Date }}</span>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="center-button">
                <input type="submit" value="Create Assignments">
            </div>
        </form>
        <a href="/">Start Over with a New Course</a>
    </div>
</body>
</html>
